{% extends "base.html" %}

{% block title %}Contact Me - Cnochur Saunders{% endblock %}

{% block main_content %}
    <div class="text-center">
        <h1 class="display-4 text-light">Contact Me</h1>
        <p class="lead text">Feel free to reach out to me through any of the following channels:</p>

        <ul class="list-unstyled">
            <li>
                <a href="mailto:myemail@myemail.com" title="" class="link-like-text">Email</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/" title="" class="link-like-text">LinkedIn</a>
            </li>
            <li>
                <a href="https://www.github.com/" title="" class="link-like-text">Github</a>
            </li>
            <li>
                <a href="https://www.instagram.com/" title="" class="link-like-text">Instagram</a>
            </li>
        </ul>
    </div>
{% endblock %}
