{% extends "base.html" %}
{% block title %}Home{% endblock title%}
{% block main_content %}

<div class="landing-view">
    <!--Need a nice background and maybe some small animation?-->
    <h1>Hello</h1>
    <p>My name is Cnochur</p>
</div>
<!-- Under here then have informatioon on programming langs, techs/frameworks-->

<div class="about-me">
    <!-- offset to the left -->
    <h2>Me</h2>
    <!-- insert image here -->
    <p>General about me paragraph</p>
</div>

{% endblock main_content %}