{% extends "base.html" %}

{% block content %}

<h2>Create New Month</h2>

<div class="create_form">
    <form action="/create_new/" method="POST">
        <!--Input salary-->
        <label for="salary">Salary:</label>
        <input type="text" id="salary" name="salary" required>
        <!--Bill item-->
        <div class="Add_bill_item">
            <label for="bill_item">Bill Item:</label>
            <input type="text" id="bill_item" name="bill_item" required>
            <button type="submit" id="add_bill_item">Add</button>
                <!--Display bills here-->
            <div class="bills_display">
                <ul class="bills_list">
                    <li class="bill_item"></li>
                </ul>
            </div>
        </div>
        <!--Nec Item-->
        <div class="Add_nec_item">
            <label for="nec_item">Bill Item:</label>
            <input type="text" id="nec_item" name="nec_item" required>
            <button type="submit" id="add_nec_item">Add</button>
                <!--Display bills here-->
            <div class="bills_display">
                <ul class="bills_list">
                    <li class="bill_item"></li>
                </ul>
            </div>
        </div>
        <!--Submit the final form-->
        <button type="submit" id="submit_form">Create</button>
    </form>
</div>

{% endblock %}